<table>
	<tr>
		<th>Article</th>
		<th>Action</th>
	</tr>
	<% @subject.articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= link_to "Edit", [:edit, :admin, article] %></td>
			<td><%= link_to "Sections", [:admin, article] %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add new article", [:new, :admin, :article] %>