<ul class="list-group col-sm-4">
  <% @subject.articles.each do |article| %>
    <%= link_to article, class: "list-group-item" do %>
      <h4><%= article.title %></h2>
      <p><%= article.summary %></p>
    <% end %>
  <% end %>
</ul>